
.navbar {
    overflow: hidden;
    background-color: #28a745;
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}
.nav-item a,i{
    font-size: large;
    font-weight: 900;
    color: white;
}
.carousel-caption{
    position:absolute ;
    top: 55%;
    transform: translateY(-80%);
    left: -8%;
}
.carousel-caption h2{
    font-size: 60px;
    font-weight: 600;
}
.carousel-caption p{
    font-size: larger;
    font-weight: 600;
}
/*----------- */
.btn{
    background-color: #28a745;
    color: white;    
}

.container{
    padding: 20px;
}

.modal .customer_details{
    align-items: center;
    margin-left: 40%;
}
 .modal .customer_details input{
    width: 250px;
    border:none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 15px;
     
 }